[Unit]
Description=EpicBook Node.js Backend
After=network.target

[Service]
Type=simple
User={{ app_user }}
WorkingDirectory={{ app_root }}
EnvironmentFile=/etc/epicbook/epicbook.env
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
